
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/Mainlayout.cshtml";
}

<h2>Không có quyền truy cập</h2>
<p>Bạn không có quyền truy cập vào trang này. Vui lòng liên hệ với quản trị viên nếu bạn cần hỗ trợ.</p>
<a href="@Url.Action("Login", "Home")" class="btn btn-primary">Đăng Nhập</a>


