<div id="customBannerCarousel" class="carousel slide custom-carousel" data-ride="carousel">
    <div class="carousel-inner custom-carousel-inner">
        <div class="carousel-item custom-carousel-item active">
            <img src="~/HinhAnhSP/BANNER/Banner1.jpg" class="custom-banner-image" alt="Banner 1">
        </div>
        <div class="carousel-item custom-carousel-item">
            <img src="~/HinhAnhSP/BANNER/Banner2.jpg" class="custom-banner-image" alt="Banner 2">
        </div>
        <div class="carousel-item custom-carousel-item">
            <img src="~/HinhAnhSP/BANNER/Banner3.jpg" class="custom-banner-image" alt="Banner 3">
        </div>
        <div class="carousel-item custom-carousel-item">
            <img src="~/HinhAnhSP/BANNER/Banner4.jpg" class="custom-banner-image" alt="Banner 4">
        </div>
    </div>
    <a class="carousel-control-prev custom-carousel-control-prev" href="#customBannerCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon custom-carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next custom-carousel-control-next" href="#customBannerCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon custom-carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>


