@model Handicraft_Shop.Models.DONHANG
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/KhachHangLayout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-center">
        <h2>Cảm ơn bạn đã đặt hàng!</h2>
        <p>Đơn hàng của bạn đã được đặt thành công và sẽ được giao sớm nhất có thể.</p>
        <a href="/KhachHang/IndexKhachHang" class="btn btn-primary">Tiếp tục mua sắm</a>
    </div>
</div>